@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/theme/monokai.css";
@import "../node_modules/github-markdown-css/github-markdown.css";

body {
  @apply bg-white
}

h1 {
  @apply text-5xl font-bold m-6;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply font-bold;
}

.CodeMirror {
    height: auto !important;
}

.react-connect-elements-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}